<?xml version="1.0" encoding="UTF-8 "?>
<config>
    <requestTimeout>20</requestTimeout>
    <wkid>3857</wkid>
    <xmin>-9765105</xmin>
    <ymin>5132355</ymin>
    <xmax>-9740970</xmax>
    <ymax>5148713</ymax>
	<zoomScale>20000</zoomScale>
	<topoURL>http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer</topoURL>
	<streetURL>http://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer</streetURL>
	<aerialURL>http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer</aerialURL>
	
	<locatorURL>http://tasks.arcgisonline.com/ArcGIS/rest/services/Locators/TA_Streets_US_10/GeocodeServer</locatorURL>
    <locatorKey>Single Line Input</locatorKey>
    <locatorField>Match_addr</locatorField>
	
	<policyFileURL>xmlsocket://localhost:1008</policyFileURL>
	<mongoHost>localhost</mongoHost>
	<mongoPort>27017</mongoPort>
	<mongoDB>chicago</mongoDB>
	
	<collection name="vacant" label="Vacant">
		<symbol>
			<SimpleMarkerSymbol color="red" size="10" alpha="0.8"/>
		</symbol>
		<field name="reqid" label="Request ID" tooltip="true"/>
		<field name="date" label="Date" align="center"/>
		<field name="addr" label="Address" tooltip="true" title="true"/>
		<field name="zip" label="Zip Code"/>
		<field name="entry" label="Entry"/>
	</collection>
	
	<collection name="graffiti" label="Graffiti">
		<symbol>
			<SimpleMarkerSymbol color="green" size="10" alpha="0.8"/>
		</symbol>
		<field name="reqno" label="Request No" tooltip="true"/>
		<field name="addr" label="Address" tooltip="true" title="true"/>
		<field name="zip" label="Zip Code"/>
		<field name="createdt" label="Report Date" align="center"/>
		<field name="compltdt" label="Completed Date" align="center"/>
		<field name="status" label="Status"/>
		<field name="surface" label="Surface"/>
		<field name="location" label="Location"/>
	</collection>
	
	<featureclass name="wards" label="Wards" url="http://174.129.207.240/ArcGIS/rest/services/TB_Services/Chicago/MapServer/0">
		<field name="OBJECTID" label="ObjectID" visible="false"/>
		<field name="WARD" label="Ward" title="true" tooltip="true"/>
		<field name="ALDERMAN" label="Alderman" tooltip="true"/>
	</featureclass>
	
	<featureclass name="beats" label="Beats" url="http://174.129.207.240/ArcGIS/rest/services/TB_Services/Chicago/MapServer/1">
		<field name="OBJECTID" label="ObjectID" visible="false"/>
		<field name="BEAT" label="Beat" title="true" tooltip="true"/>
		<field name="DISTRICT" label="District" tooltip="true"/>
	</featureclass>
	
	<Basemaps>
        <TiledMap>
            <Id>0</Id>
            <Name>Topo</Name>
            <URL>http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer</URL>
            <Thumbnail>iMap_Topo.png</Thumbnail>
        </TiledMap>
        <TiledMap>
            <Id>1</Id>
            <Name>Imagery</Name>
            <URL>http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer</URL>
            <Thumbnail>iMap_Imagery.png</Thumbnail>
        </TiledMap>
        <TiledMap>
            <Id>2</Id>
            <Name>World Streets</Name>
            <URL>http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer</URL>
            <Thumbnail>iMap_Streets.png</Thumbnail>
        </TiledMap>
        <TiledMap>
            <Id>3</Id>
            <Name>Muted Grey</Name>
            <URL>http://services.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer</URL>
            <Thumbnail>iMap_Muted.png</Thumbnail>
        </TiledMap>
        <TiledMap>
            <Id>4</Id>
            <Name>Oceans</Name>
            <URL>http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer</URL>
            <Thumbnail>iMap_Oceans.png</Thumbnail>
        </TiledMap>
        <TiledMap>
            <Id>5</Id>
            <Name>National Geographic</Name>
            <URL>http://services.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer</URL>
            <Thumbnail>iMap_OSM.png</Thumbnail>
        </TiledMap>
        <SetActiveBasemapID>3</SetActiveBasemapID>
    </Basemaps>
</config>